<h4>Post</h4>
<h1>{{author.authorname}}</h1>
<button id="logoutBtn">Log out</button>

<br></br>

<form>
    <input id='blogTitle' type="text" name="blogTitle" placeholder="Enter Title"/>
     <input id='blogInput' type="text" name="blogInput" placeholder="Enter Blog"/>


  <button type="button" class="btn btn-dark" id="blogsubmitBtn">Submit</button>

</form>

<ul id="blogList">
  {{#each Author.blogs as |blog|}}
    <li>{{blog.title}}</li>
    <p>{{blog.content}}</p>
  {{/each}}
</ul>

<script src="./js/authorProfile.js"></script>