<h1>Welcome to Tech Blog Login Page</h1>

<form>
     <input id='authorname' type="text" name='authorname' placeholder='Author Name'/>
     <input id='password' type="password" name='password' placeholder='Password'/>  
    <button id = "loginBtn">Login</button>
    <p>Click <a href="/signup">here</a> to sign up</p>
</form>
